# ------------------------------------------------------------------------------
# This is an example .env file.
#
# All of these environment vars must be defined either in your environment or in
# a local .env file in order to run this app.
#
# @see https://github.com/rolodato/dotenv-safe for more details.
# ------------------------------------------------------------------------------

# Site Public URL
#NUXT_PUBLIC_SITE_URL=

# Site Name
#NUXT_PUBLIC_SITE_NAME

# Site Description
#NUXT_PUBLIC_SITE_DESCRIPTION=

# Twicpics URL
#NUXT_PUBLIC_TWICPICS_URL=

# (Optional) Nuxt Studio Token. Get it from: https://nuxt.studio/
#NUXT_PUBLIC_STUDIO_TOKENS=